<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-evento-medicao-classificacao-alerta-heading" jhiTranslate="front-end-app.apiMonitoramentoBarragensEventoMedicaoClassificacaoAlerta.home.createOrEditLabel">Create or edit a Evento Medicao Classificacao Alerta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="front-end-app.apiMonitoramentoBarragensEventoMedicaoClassificacaoAlerta.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo">
                        <option value="NIVEL_ARMAZENAMENTO">{{ 'front-end-app.TipoMedicao.NIVEL_ARMAZENAMENTO' | translate }}</option>
                        <option value="PRESSAO">{{ 'front-end-app.TipoMedicao.PRESSAO' | translate }}</option>
                        <option value="TREMORES">{{ 'front-end-app.TipoMedicao.TREMORES' | translate }}</option>
                        <option value="GENERICO">{{ 'front-end-app.TipoMedicao.GENERICO' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="front-end-app.apiMonitoramentoBarragensEventoMedicaoClassificacaoAlerta.intensidade" for="field_intensidade">Intensidade</label>
                    <input type="number" class="form-control" name="intensidade" id="field_intensidade"
                           formControlName="intensidade"/>
                    <div *ngIf="editForm.get('intensidade')!.invalid && (editForm.get('intensidade')!.dirty || editForm.get('intensidade')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intensidade')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('intensidade')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="front-end-app.apiMonitoramentoBarragensEventoMedicaoClassificacaoAlerta.dispararAlertas" for="field_dispararAlertas">Disparar Alertas</label>
                    <input type="checkbox" class="form-control" name="dispararAlertas" id="field_dispararAlertas"
                           formControlName="dispararAlertas"/>
                    <div *ngIf="editForm.get('dispararAlertas')!.invalid && (editForm.get('dispararAlertas')!.dirty || editForm.get('dispararAlertas')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dispararAlertas')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
