<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planoAcao">
            <h2><span jhiTranslate="front-end-app.apiSegurancaComunicacaoPlanoAcao.detail.title">Plano Acao</span> {{ planoAcao.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="front-end-app.apiSegurancaComunicacaoPlanoAcao.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'front-end-app.TipoPlanoAcao.' + planoAcao.tipo }}">{{ planoAcao.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiSegurancaComunicacaoPlanoAcao.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ planoAcao.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiSegurancaComunicacaoPlanoAcao.classificacao">Classificacao</span></dt>
                <dd>
                    <span>{{ planoAcao.classificacao }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiSegurancaComunicacaoPlanoAcao.mensagemAlterta">Mensagem Alterta</span></dt>
                <dd>
                    <span>{{ planoAcao.mensagemAlterta }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano-acao', planoAcao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
