<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="barragem">
            <h2><span jhiTranslate="front-end-app.apiMonitoramentoBarragensBarragem.detail.title">Barragem</span> {{ barragem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="front-end-app.apiMonitoramentoBarragensBarragem.nome">Nome</span></dt>
                <dd>
                    <span>{{ barragem.nome }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiMonitoramentoBarragensBarragem.capacidadeMetrosCubicos">Capacidade Metros Cubicos</span></dt>
                <dd>
                    <span>{{ barragem.capacidadeMetrosCubicos }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiMonitoramentoBarragensBarragem.latitude">Latitude</span></dt>
                <dd>
                    <span>{{ barragem.latitude }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiMonitoramentoBarragensBarragem.longitude">Longitude</span></dt>
                <dd>
                    <span>{{ barragem.longitude }}</span>
                </dd>
                <dt><span jhiTranslate="front-end-app.apiMonitoramentoBarragensBarragem.grauRisco">Grau Risco</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'front-end-app.GrauRisco.' + barragem.grauRisco }}">{{ barragem.grauRisco }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/barragem', barragem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
