<div>
    <h2 id="page-heading">
        <span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.home.title">Sensors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sensor" [routerLink]="['/sensor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.home.createLabel">
            Create a new Sensor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sensors?.length === 0">
        <span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.home.notFound">No sensors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sensors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identificador"><span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.identificador">Identificador</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoes"><span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="barragemNome"><span jhiTranslate="front-end-app.apiMonitoramentoBarragensSensor.barragem">Barragem</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sensor of sensors ;trackBy: trackId">
                    <td><a [routerLink]="['/sensor', sensor.id, 'view']">{{ sensor.id }}</a></td>
                    <td>{{ sensor.identificador }}</td>
                    <td>{{ sensor.nome }}</td>
                    <td jhiTranslate="{{ 'front-end-app.TipoMedicao.' + sensor.tipo }}">{{ sensor.tipo }}</td>
                    <td>{{ sensor.observacoes }}</td>
                    <td>
                        <div *ngIf="sensor.barragemId">
                            <a [routerLink]="['/barragem', sensor.barragemId , 'view']" >{{ sensor.barragemNome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sensor', sensor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sensor', sensor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sensor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="sensors?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
